In [48]:
## No 1
name = "Luqmanul Hakim"
age ="21"
address,province,subdistrict = "Kadudampit","7434","Kadudampit"
scorePython = 88.8
isMarried = False

print("Nama : ",name)
print("Umur :",age)
print("Alamat",address,province,subdistrict)
print("Nilai Pemrograman",scorePython)
print("Status Menikah",isMarried)

## No 2
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <subdistrict>",type(subdistrict))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried>",type(isMarried))

Nama :  Luqmanul Hakim
Umur : 21
Alamat Kadudampit 7434 Kadudampit
Nilai Pemrograman 88.8
Status Menikah False
Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'str'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <subdistrict> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [49]:
## No 3

#Casting atau Konversi Tipe Data
#Konversi dari String ke (int,float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="_")

#Konversi dari Int ke (str,float,bool)
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool, sep="_")

#Konversi dari Float ke (str,int,bool)
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr,floatToInt,floatToBool, sep="_")

#Konversi dari Bool ke (str,int,Float)
boolToStr = str(isMarried)
boolToFloat = float(isMarried)
boolToInt = int(isMarried)
print(boolToStr, boolToFloat, boolToInt, sep="_")

7434_7434.0_True
21_21.0_True
88.8_88_True
False_0.0_0

In [53]:
## No 4

#Tipe data basis data pada bilangan (desimal,biner,octal,hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff # 255

print("Nilai desimal : ",desimal)
print("Nilai biner : ",biner)
print("Nilai octal : ",octal)
print("Nilai hexa : ",hexa)

print("NIlai Biner dari ",desimal, ":", bin(desimal))
print("Nilai Ocral dari ",desimal, ":",oct(desimal))
print("Nilai Hexa dari ",desimal,":",hex(desimal))

Nilai desimal :  500
Nilai biner :  10
Nilai octal :  255
Nilai hexa :  255
NIlai Biner dari  500 : 0b111110100
Nilai Ocral dari  500 : 0o764
Nilai Hexa dari  500 : 0x1f4

In [76]:
## NO 5
#Tipe data collection
#List
cities = ["Sukabumi","Bogor","Bekasi","Jakarta","Bandung"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities [5] = "Malang" akan menyebabkan error our of range
print(cities)

#Tuple
names = ("Andi","Reggie","Ibnu")
print(names)
print(names[1])
#names[0] = "Dedi" error immutable tuple

#Dictionary
studentData = {
    "name" : "Luqman",
    "age" : 21,
    "address" : {
        "street" : "Cisaat",
        "number" : 27,
        "province" : "JAWA"
    },
    "isMarried" : False,
    "hobbies" : ["Volly","Futsal"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

#Lilst of Dictionary
studentList = [
    {
        "name" : "Luqman",
    "age" : 21,
    "address" : {
        "street" : "Cisaat",
        "number" : 27,
        "province" : "JAWA"
    },
    "isMarried" : False,
    "hobbies" : ["Volly","Futsal"]
},
{
        "name" : "Deni",
        "age" : 40,
        "address" : {
            "street" : "Cikorup",
            "number" : 70,
            "province" : "Jawa Jawa"
        },
        "isMarried" : True,
        "hobbies" : ["PK", "PM"]
}
]
print(studentList[0])
print(studentList[1])
print(studentList[1]["address"]["province"])

['Sukabumi', 'Bogor', 'Bekasi', 'Jakarta', 'Bandung']
Sukabumi
Bandung
B
g
['Bali', 'Bogor', 'Bekasi', 'Jakarta', 'Bandung']
('Andi', 'Reggie', 'Ibnu')
Reggie
{'name': 'Luqman', 'age': 21, 'address': {'street': 'Cisaat', 'number': 27, 'province': 'JAWA'}, 'isMarried': False, 'hobbies': ['Volly', 'Futsal']}
21
JAWA
Volly
{'name': 'Luqman', 'age': 21, 'address': {'street': 'Cisaat', 'number': 27, 'province': 'JAWA'}, 'isMarried': False, 'hobbies': ['Volly', 'Futsal']}
{'name': 'Deni', 'age': 40, 'address': {'street': 'Cikorup', 'number': 70, 'province': 'Jawa Hitam'}, 'isMarried': True, 'hobbies': ['PK', 'PM']}
Jawa Hitam

In [88]:
## No 6

#Konversi Dictionary

list_list = [["Name","Gidzan"],["Age",50],["Status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

list_tuple = [("Name","Rusdi"),("Adress","Ngawi")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)

tuple_list = (["Name","Lion"],["Type","Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)

tuple_tuple = (("Name","Crocodile"),("Type","Reptile"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

keys = ["Vehicle","Brand","DD"]
values = ["Car","Lamborgini",3500]
car = dict(zip(keys,values))
print(car)

{'Name': 'Gidzan', 'Age': 50, 'Status': True}
{'Name': 'Rusdi', 'Adress': 'Ngawi'}
{'Name': 'Lion', 'Type': 'Mamalia'}
{'Name': 'Crocodile', 'Type': 'Reptile'}
{'Vehicle': 'Car', 'Brand': 'Lamborgini', 'DD': 3500}